<div class="spacing">
    <h1>Products</h1>
    <mat-grid-list cols="4" gutterSize="7">
        <mat-grid-tile *ngFor="let product of products">
            <mat-card>
                <mat-card-content>
                    <img mat-card-image [src]="product.thumbnail">
                    <mat-card-title>{{product.title}}</mat-card-title>
                </mat-card-content>
                <mat-card-footer>
                    <div class="price">${{product.price}}</div>
                    <button mat-flat-button color="primary" (click)="addToCart(product)">Add to Cart</button>
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>