<mat-toolbar color="primary">
    <span>Angular Starter App</span>
    <div *ngIf="userDetails$.firstName" class="menu-section">
        <div>
            <a mat-button routerLink="/">Home</a>
            <a mat-button routerLink="/about">About</a>
            <a mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart" [matBadge]="cartLength" matBadgeColor="accent"></mat-icon></a>
        </div>
        <div><app-user-block></app-user-block></div>
    </div>
</mat-toolbar>
